@page
@model IndexModel

@{
	ViewData["Title"] = "Home page";
}

<h2>Pages</h2>
	<ul>
		<li><a href="./PeopleList">List of People</a></li>
		<li><a href="./TaskList">List of Current Tasks</a></li>
	</ul>




